[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-dotenv = "*"
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
requests = "*"
flask-wtf = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.11"
