{% extends "index.html" %}

{% block content %}
<div class="container mt-2">
    {% for post in posts %}
    <div class="card border mb-4">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ url_for('post', post_id=post.id) }}" class="text-decoration-none">{{ post.body }}</a>
            </h5>
            <p class="card-text">
                by <a href="{{ url_for('user', user_id=post.author.id) }}" class="text-decoration-none">{{ post.author.username|capitalize }}</a>
                on {{ post.created }}
            </p>
        </div>
        <div class="card-footer">
            <p class="card-text">
                Comment: {{ post.comment.all()|length }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
