{% extends "index.html" %}{% block title %}Post of user: {{post.author.username|capitalize}}{% endblock %}
{% block content %}
<div class="border border-5 card rounded rounded-3 shadow p-5">
   <header class="text-center mb-4 display-4">
      About movie: <a class="link-secondary text-decoration-none" href="{{ url_for('movie_details', movie_id=post.movie_id) }}">{{movie_from_id(post.movie_id).title}}</a>
   </header>
   <main class="p-2">
      <!--Main Post-->
      <section>
         <a class="link-secondary" href="{{url_for('user', user_id=post.author.id)}}">~{{post.author.username|capitalize}}</a>
         <span class="small ms-2">{{post.created}}</span>
         {% if current_user.is_authenticated %}
            <a class="btn btn-outline-dark btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
               Reply
            </a>
         {% endif %}
         <blockquote class="blockquote border-bottom border-2 p-3">
            {{post.body}}
         </blockquote>
      </section>
      <!--Comment Section-->
      {% for com in comment %}
         <section class="flex-start mt-4 ps-4">
            <a class="link-secondary" href="{{url_for('user', user_id=com.commentator.id)}}">~{{com.commentator.username|capitalize}}</a>
            <span class="small ms-2">{{com.created}}</span>
            <blockquote class="blockquote small mt-1">
               {{com.body}}
            </blockquote>
         </section>
      {% endfor %}
      <!--Comment Form-->
      <section class="collapse mt-4" id="collapseExample">
         <form action="{{ url_for('add_comment', post_id=post.id) }}" method="post">
            {{ form.body }}
            <button type="submit" class="px-auto btn btn-dark mt-2">Submit</button>
         </form>
      </section>
   </main>
</div>
{% endblock %}
