{% extends "index.html" %}

{% block content %}
<div class="container">
   <div class="row">
       <div class="col-lg-12 text-center">
           <h1 class="mt-5">Movies Rated by {% for name in movies %}{% if loop.index == 1 %}
            <a href="{{url_for('user', user_id=name.reviewer.id)}}" class="text-decoration-none">{{name.reviewer.username|capitalize}}</a> <!-- Displays the username of the first movie reviewer in the 'movies' collection -->
        {% endif %}{% endfor %}:</h1>
       </div>
   </div>
   
   <div class="table-responsive">
       <table class="table table-bordered mt-4">
           <thead>
               <tr>
                   <th>Movie</th>
                   <th>Rating</th>
                   <th>Actions</th>
               </tr>
           </thead>
           <tbody>
               {% for movie in movies %}
               <tr>
                   <td>{{ movie_from_id(movie_id=movie.movie_id).original_title }}</td> <!-- Displays the original title of the movie -->
                   <td>{{ movie.rate }}/10</td> <!-- Displays the movie's rate -->
                   <td>
                       <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="btn btn-primary">Show more</a> <!-- Link to view more details about the movie -->
                   </td>
               </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
</div>
{% endblock %}
