{% extends "index.html" %}

{% block content %}

<h1>Youre favorite list:</h1>
{% for x in fav %}
  {% if x.status==True %}
  <a href="{{url_for('movie_details', movie_id=x.movie_id)}}">{{tittle_from_id(movie_id=x.movie_id)}}</a>
  {% endif %}
{% endfor %}


  <h1>Profile: {{ user.username }}!</h1>
  <h2>All rate:</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Rate</th>
      <th>Movie</th>
    </tr>
    </thead>
    <tbody>
      {% for x in rates %}
      <tr>
        <td>{{x.rate}}</td>
        <td><a href="{{url_for('movie_details', movie_id=x.movie_id)}}">{{ tittle_from_id(x.movie_id) }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>All post:</h2>
  <table class="table">
<tr>
  <th>Post</th>
  <th>Movie</th>
  <th>Date</th>
</tr>
{% for com in comment %}
<tr>
  <td style="max-width: 60vw; overflow: hidden;"><a href="{{ url_for('post', post_id=com.id) }}">""{{com.body}}""</a></td>
  <td><a href="{{url_for('movie_details', movie_id=com.movie_id)}}">{{ tittle_from_id(com.movie_id) }}</a></td>
  <td>{{com.created}}</td>
</tr>
{% endfor %}
  </table>
{% endblock %}